{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="row">

        <div class="col-8">

            <div class="card bg-dark text-white text-center">

                <div class="card-header operator bg-primary text-uppercase" align="center"> Calculator</div>
                <div class="card-body">
                    <form name="calculator" >
                        <div class="row">
                            <input type="text" name="ans" class="form-control" value="">
                         </div>

                    <div class="row pt-3">
                        <input class="col border operator" type="button" value="+/-" onClick="document.calculator.ans.value+='+/-'">
                        <input class="col border operator" type="button" value="CE">
                        <input class="col border operator" type="reset" value="AC">
                        <input class="col border operator" type="button" value="%" onClick="document.calculator.ans.value+='%'">
                    </div>

                    <div class="row">
                        <input class="col border operator" type="button" value="√x" onClick="document.calculator.ans.value+='√x'">
                        <input class="col border operator" type="button" value="xˆ2" onClick="document.calculator.ans.value+='xˆ2'">
                        <input class="col border operator" type="button" value="1/√x" onClick="document.calculator.ans.value+='1/√x'">
                        <input class="col border operator" type="button" value="/" onClick="document.calculator.ans.value+='/'">
                    </div>

                    <div class="row">
                        <input class="col border operator" type="button" value="7" onClick="document.calculator.ans.value+='7'">
                        <input class="col border operator" type="button" value="8" onClick="document.calculator.ans.value+='8'">
                        <input class="col border operator" type="button" value="9" onClick="document.calculator.ans.value+='9'">
                        <input class="col border operator" type="button" value="*" onClick="document.calculator.ans.value+='*'">
                    </div>

                    <div class="row">
                        <input class="col border operator" type="button" value="4" onClick="document.calculator.ans.value+='4'">
                        <input class="col border operator" type="button" value="5" onClick="document.calculator.ans.value+='5'">
                        <input class="col border operator" type="button" value="6" onClick="document.calculator.ans.value+='6'">
                        <input class="col border operator" type="button" value="-" onClick="document.calculator.ans.value+='-'">
                    </div>

                    <div class="row">
                        <input class="col border operator" type="button" value="1" onClick="document.calculator.ans.value+='1'">
                        <input class="col border operator" type="button" value="2" onClick="document.calculator.ans.value+='2'">
                        <input class="col border operator" type="button" value="3" onClick="document.calculator.ans.value+='3'">
                        <input class="col border operator" type="button" value="+" onClick="document.calculator.ans.value+='+'">
                    </div>

                    <div class="row">
                        <input class="col-6 border operator" type="button" value="0" onClick="document.calculator.ans.value+='0'">
                        <input class="col border operator" type="button" value="." onClick="document.calculator.ans.value+='.'">
                        <input class="col border operator" type="button" value="=" onClick="document.calculator.ans.value=eval(document.calculator.ans.value)">
                    </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="col">

            <div class="card">

                <div class="card-header"><span class="pr-5 operator">History</span> <span class="pl-5 operator"> Clear History </span>
                </div>
                <div class="card-body">

                </div>

            </div>

        </div>

    </div>


</div>


{% endblock %}