{% extends "base.html" %}

{% block content %}
<div class="container">

  <div class="row">

  <div class="col-8">

  <div class="card bg-dark text-white text-center">

    <div class="card-header operator bg-primary text-uppercase"> Calculator </div>
  <div class="card-body">
    <div class="row">
      <input type="text" class="form-control">
    </div>

        <div class="row pt-3">
      <div class="col border operator"> +/- </div>
       <div class="col border operator"> CE </div>
       <div class="col border operator"> C </div>
       <div class="col border operator"> % </div>
    </div>

    <div class="row">
      <div class="col border operator"> √x </div>
       <div class="col border operator">xˆ2 </div>
       <div class="col border operator"> 1/√x </div>
       <div class="col border operator"> ÷</div>
    </div>

        <div class="row">
      <div class="col border operator"> 7 </div>
       <div class="col border operator"> 8 </div>
       <div class="col border operator"> 9 </div>
       <div class="col border operator"> x </div>
    </div>

    <div class="row">
      <div class="col border operator"> 4 </div>
       <div class="col border operator"> 5 </div>
       <div class="col border operator"> 6 </div>
       <div class="col border operator"> - </div>
    </div>

        <div class="row">
      <div class="col border operator"> 1 </div>
       <div class="col border operator"> 2 </div>
       <div class="col border operator"> 3 </div>
       <div class="col border operator"> + </div>
    </div>

            <div class="row">
       <div class="col-6 border operator"> 0 </div>
       <div class="col border operator"> . </div>
       <div class="col border operator"> = </div>
    </div>


</div>
  </div>
    </div>

    <div class="col">

      <div class="card">

        <div class="card-header"><span class="pr-5 operator">History</span> <span class="pl-5 operator"> Clear History </span>  </div>
        <div class="card-body">

        </div>

      </div>

    </div>

</div>



</div>


{% endblock %}